* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* ************* section Navbar starts here ************* */

.main-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  margin-bottom: 1em;
  max-width: 25px;
  height: auto;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
.logo {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  color: #333;
  text-decoration: none;
}

nav ul {
  text-align: justify;
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
  color: #333;
  text-decoration: none;
}

nav ul a {
  font-size: 19px;
  text-decoration: none;
  color: #333;
}

/* ************* section Navbar button starts here ************* */

/* CSS */
.button-18 {
  align-items: center;
  background-color: #e10040;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -moz-transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -ms-transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -o-transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.button-18:hover,
.button-18:focus {
  background-color: #c21546;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

/* ************* section Navbar button ends here ************* */

.icons {
  display: flex;
  gap: 1rem;
  margin-right: 1.5rem;
}

/* ************* section Navbar ends here ************* */

/* ************* section Hero starts here ************* */

.hero {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.hero-text h1 {
  width: 50%;
  flex: 1;
  padding-left: 10rem;
  margin-right: 2rem;
  text-align: left;
  color: #333;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.5;
}

.hero-text p {
  width: 50%;
  flex: 1;
  padding-left: 10rem;
  margin-right: 2rem;
  text-align: left;
  color: #333;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
}

.main-button {
  padding-left: 9rem;
  margin-top: 1rem;
  button {
    margin-left: 2rem;
    background-color: blue;
  }
}

.hero-image {
  flex: 1;
  margin-left: 2rem;
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
}

.hero-image img {
  max-width: 100%;
  height: auto;
}
/* ************* section Hero ends here ************* */
