* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

/* ************* section Navbar starts here ************* */

.main-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
  margin-left: 3rem;
  margin-bottom: 1em;
  max-width: 25px;
  height: auto;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}
.logo {
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 0.5rem;
  color: #333;
  text-decoration: none;
}

nav ul {
  margin-left: 3rem;
  text-align: justify;
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
  font-size: 1rem;
  color: #333;
  text-decoration: none;
}

nav ul a {
  font-size: 19px;
  text-decoration: none;
  color: #333;
}

/* ************* section Navbar button starts here ************* */

/* CSS */
.button-18 {
  align-items: center;
  background-color: red;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  -webkit-transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -moz-transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -ms-transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  -o-transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.button-18:hover,
.button-18:focus {
  background-color: rgb(182, 0, 0);
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}

/* ************* section Navbar button ends here ************* */

.icons {
  display: flex;
  gap: 1rem;
  margin-right: 1.5rem;
}

/* ************* section Navbar ends here ************* */

/* ************* section Hero starts here ************* */

.hero {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.hero-text {
  padding-top: 1rem;
  width: 60%;
}

.hero-text h1 {
  /* width: 60%; */
  flex: 1;
  padding-left: 8rem;
  margin-right: 2rem;
  text-align: left;
  color: #1c1558;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}

.hero-text p {
  /* width: 50%; */
  flex: 1;
  padding-left: 8rem;
  margin-right: 2rem;
  margin-top: 2rem;
  text-align: left;
  color: #333;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.5;
}

.main-button {
  padding-left: 6rem;
  margin-top: 2rem;
  .buton-1 {
    margin-left: 2rem;
    background-color: blue;
  }
  .buton-2 {
    margin-left: 2rem;
    border: 1px solid blue;
    background-color: transparent;
    color: blue;
  }

  .buton-1:hover {
    background-color: transparent;
    color: blue;
    border: 1px solid blue;
  }
  .buton-2:hover {
    background-color: blue;
    color: white;
  }
}

.hero-image {
  flex: 1;
  text-align: center;
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
}

.hero-image img {
  width: 80%;
  transform: scaleX(-1);
  height: auto;
  margin-right: 8rem;
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -o-transform: scaleX(-1);
}
/* ************* section Hero ends here ************* */

/* ************* section Featured starts here ************* */
.featured {
  text-transform: capitalize;
  .f-heading {
    color: #1c1558;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #f8f8f8;
  }
  .f-heading h3 {
    margin-top: 1.5rem;
    font-size: 2rem;
    width: 35rem;
    text-align: center;
  }
  .f--blocks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #f8f8f8;
  }

  .f-blocks {
    height: 20rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #f8f8f8;
  }

  .f-block {
    text-align: center;
    h4 {
      width: 12rem;
    }
    .icon {
      font-size: 2rem;
      padding: 2rem;
    }
    width: 12rem;
    height: 20rem;
    border: 1px solid rgba(0, 0, 0, 0.406);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #f8f8f8;
    transition: linear 0.3s;
    -webkit-transition: linear 0.3s;
    -moz-transition: linear 0.3s;
    -ms-transition: linear 0.3s;
    -o-transition: linear 0.3s;
  }

  .f-block:hover {
    background-color: #ff4457;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  a {
    margin: 2rem;
    width: 12rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .f-block h4 {
    margin-top: 1.5rem;
    font-size: 1rem;
    text-align: center;
  }
}
/* ************* section Featured ends here ************* */

/* ************* section Featured 2 starts here ************* */

.featured-2 {
  display: flex;
  padding: 5rem;
  background-color: #f8f8f8;
  .img {
    margin-top: 1.8rem;
    width: 30rem;
  }
  .text {
    .sub-text {
      opacity: 0.5;
      text-transform: uppercase;
      font-size: 12px;
    }
    h2 {
      width: 22rem;
      font-weight: 800;
      font-size: 1.5rem;
      margin-top: 1.2rem;
      line-height: 2;
      text-transform: capitalize;
      color: #1c1558;
    }
    .sub-text-2 {
      text-transform: capitalize;
      width: 22rem;
      font-size: 12px;
      line-height: 2.2;
      margin-top: 1.9rem;
    }
    margin-top: 4rem;
    margin-left: 7rem;
    button {
      margin-top: 1.5rem;
      background-color: blue;
      transition: linear 0.3s;
      -webkit-transition: linear 0.3s;
      -moz-transition: linear 0.3s;
      -ms-transition: linear 0.3s;
      -o-transition: linear 0.3s;
    }
    button:hover {
      border: 1px solid blue;
      color: blue;
      background-color: transparent;
    }
  }
}

/* ************* section Featured 2 ends here ************* */

/* ************* section Featured 3 starts here ************* */

.featured-3 {
  display: flex;
  padding: 5rem;
  background-color: #f8f8f8;
  .img {
    margin-top: 1.8rem;
    width: 30rem;
  }
  .text {
    .sub-text {
      opacity: 0.5;
      text-transform: uppercase;
      font-size: 12px;
    }
    h2 {
      width: 22rem;
      font-weight: 800;
      font-size: 1.5rem;
      margin-top: 1.2rem;
      line-height: 2;
      text-transform: capitalize;
      color: #1c1558;
    }
    .sub-text-2 {
      text-transform: capitalize;
      width: 22rem;
      font-size: 12px;
      line-height: 2.2;
      margin-top: 1.9rem;
    }
    .img {
      margin-left: 8rem;
      width: 450px;
    }
    margin-top: 8rem;
    margin-right: 7rem;
    margin-left: 7rem;
    button {
      margin-top: 1.5rem;
      background-color: blue;
      transition: linear 0.3s;
      -webkit-transition: linear 0.3s;
      -moz-transition: linear 0.3s;
      -ms-transition: linear 0.3s;
      -o-transition: linear 0.3s;
    }
    button:hover {
      border: 1px solid blue;
      color: blue;
      background-color: transparent;
    }
  }
  .plates .plate .img img {
    margin-top: 1.8rem;
    width: 3rem;
    height: auto;
    padding-right: 10rem  ;
}

/* ************* section Featured 3 ends here ************* */
